In [14]:
import pandas as pd
import matplotlib.pylab as plt
%matplotlib inline

In [43]:
path_demand_satisfied_percentage = './data/ddf--unpop--family_planning_indicators-master/ddf--datapoints--demand_satisfied_percentage--by--country--method--year.csv'
path_contraceptive_prevalence_number = './data/ddf--unpop--family_planning_indicators-master/ddf--datapoints--contraceptive_prevalence_number--by--country--method--year.csv'
df_path_contraceptive_prevalence_number = pd.read_csv(path_contraceptive_prevalence_number)
df_path_demand_satisfied_percentage = pd.read_csv(path_demand_satisfied_percentage)

In [42]:
df_path_contraceptive_prevalence_number.head()

       country method  year  contraceptive_prevalence_number
0  afghanistan    any  1970                             34.0
1  afghanistan    any  1971                             37.4
2  afghanistan    any  1972                             41.1
3  afghanistan    any  1973                             45.1
4  afghanistan    any  1974                             48.9

In [44]:
df_path_demand_satisfied_percentage.head()

       country method  year  demand_satisfied_percentage
0  afghanistan    any  1970                          5.9
1  afghanistan    any  1971                          6.3
2  afghanistan    any  1972                          6.7
3  afghanistan    any  1973                          7.2
4  afghanistan    any  1974                          7.6